# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
dist/
build/
*.egg
.pytest_cache/

# Env
.env
.env.*
!.env.example

# Docker
.docker/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
!*.tfvars.example

# MLflow
mlruns/
mlartifacts/

# Superpowers
.superpowers/

# IDE
.idea/
.vscode/
*.iml

ml/data/
ml/mlflow.db
ml/mlflow.db.bak
.claude/settings.local.json
.claude/settings.local.json
